.dropdown-menumob{
    width: 180px;
       position: relative;
       /* top: 47px; */

       list-style: none;
line-height: 35px;
       text-decoration: none;
   background: black;
   
   }
   .dropdown-menumob li{
    
       cursor: pointer;
       text-decoration: none;
   }
   .dropdown-menumob a{
    
       color: #fff;
       cursor: pointer;
       text-decoration: none;
       transition: 0.5s;
       font-size: 14px;
       
       
   }
   
   .dropdown-menumob a:hover{
     color: cornflowerblue;
     text-decoration: none;
   }
   .dropdown-menumob.clicked{
       display: none;
   }